extends admin
block main
    .content-section.col
        table.table
            tr
                th= __('admin.dashboard.forename')
                th= __('admin.dashboard.surname')
                th= __('admin.dashboard.video_link')
                th= __('Edit')
                th= __('Delete')
            each j in journeys
                tr
                    td= j.forename
                    td= j.surname
                    td= j.video_link
                    td: a(href='/admin/edit-journey/' + j.id)= __('Edit')
                    td: a(href='/admin/delete-journey/' + j.id)= __('Delete')