extends admin
block main
    .content-section.col
        table.table
            tr
                th= __('admin.dashboard.name')
                th= __('admin.dashboard.subtitle')
                th= __('Edit')
                th= __('Delete')
            each j in journeys
                tr
                    td= j.name
                    td= j.subtitle
                    td: a(href='/admin/edit-journey/' + j.id)= __('Edit')
                    td: a(href=`/journeys/${j.id}/delete`)= __('Delete')