extends layout

block content
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap")
    #animation
      video(autoplay muted id='loading-animation') 
        source(src='/s/anim/splash.mp4' type='video/mp4')
        
    div.hidden#hidden-page
      nav.py-2.bg-dark.text-white#main-header
        .container-fluid.d-flex.d-wrap
          ul.nav.me-auto
            li.nav-item
              a(href="https://mamumi.eu"): img(src="/s/img/logo.png", alt="MaMuMi", width="90.22", height="50.75")#logo
          .btn-group
            button.btn.lang-btn
              img(src=`/s/img/${__('lang.current.code')}.png`, alt="", srcset="")
              |&nbsp;
              = __('lang.current.name')
            button(data-bs-toggle="dropdown", aria-expanded="false").btn.dropdown-toggle.dropdown-toggle-split
              img(src="/s/img/dropdown.png", alt="", srcset="")
              span.visually-hidden Toggle Dropdown
            ul.dropdown-menu
              li.dropdown-item
                img(src=`/s/img/${__('lang.1.code')}.png`, alt="", srcset="")
                |&nbsp;
                a(href="#", data-lang=`${__('lang.1.code')}`).nav-link-lang= __('lang.1.name')
              li.dropdown-item
                img(src=`/s/img/${__('lang.2.code')}.png`, alt="", srcset="")
                |&nbsp;
                a(href="#", data-lang=`"${__('lang.2.code')}"`).nav-link-lang= __('lang.2.name')
              li.dropdown-item
                img(src=`/s/img/${__('lang.3.code')}.png`, alt="", srcset="")
                |&nbsp;
                a(href="#", data-lang=`"${__('lang.3.code')}"`).nav-link-lang= __('lang.3.name')
              li.dropdown-item
                img(src=`/s/img/${__('lang.4.code')}.png`, alt="", srcset="")
                |&nbsp;
                a(href="#", data-lang=`"${__('lang.4.code')}"`).nav-link-lang= __('lang.4.name')
              li.dropdown-item
                img(src=`/s/img/${__('lang.5.code')}.png`, alt="", srcset="")
                |&nbsp;
                a(href="#", data-lang=`"${__('lang.5.code')}"`).nav-link-lang= __('lang.5.name')

      .container-fluid: .row
        .col-lg-5
          .container.journey-list
            p= __('index.journey.select')
            each j in journeys
               .journey-name= j.forename
               .journey-short-desc= j.surname
          .container.journey-display.hidden
            .row: p#journey-name Title 
            .row.vid-row: p#journey-video-link Video 
            .row.fade-out: p#journey-description Desc
        .col-lg-7.map
          a(href="")#clearJourney Clear current journey

          #gMap(style="width:100%;height:100%;")
          #testOut

      script(type="module", src="/s/js/index.mjs")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgQsUmoRWeiRlclZbkSmn3vIFEmJZaBN4")
